@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root {
    --primary: #030319;
    --secondary: #09093b;
    --white: #dbdaef;
  }
}

body {
  @apply min-h-screen overflow-x-hidden transition-all duration-300 bg-gradient-radial from-[--primary] to-blue-950 text-[--white] grid place-content-center
}

h1{
 @apply text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-radial from-blue-100 via-blue-200 to-blue-300   
}

p{
  @apply text-lg
}

.input{
  @apply block w-full bg-[--secondary] outline-none focus:outline-cyan-900 focus:outline-dotted focus:outline-2 px-3 py-1 my-3 rounded-lg
}

.btn{
  @apply block w-full bg-[--secondary] outline-double outline-cyan-900 px-3 py-1 rounded-lg my-3 hover:outline-cyan-600 hover:scale-105 transition-all duration-300 focus:bg-green-700
}

.btn_error{
  @apply outline-red-900 text-red-300 hover:outline-none bg-red-500/50 focus:bg-red-500/50
}

.show_loading{
  visibility: visible;
  opacity: 1;
  transition: opacity 400ms, visibility 400ms;
}

.hide_loading{
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms, visibility 400ms;
}

.select{
  @apply bg-indigo-950 text-white outline-none rounded-lg block w-full px-3 py-2
}